@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic');
* {
    margin: 0;
    padding:0;
    border: none; 
}
html {
    overflow-x: hidden !important; 
}
body{
    font-family: Montserrat, sans-serif;
    font-weight:300;
}
/* Header section --The navbar-- */
.nav {
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
}
.nav a {
  color: #f2f2f2;
  text-align: center;
  display:inline-block;
  padding:10px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover {
  background-color: #ddd;
  color: black;
}
/*hero image*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
  url("../images/hero-image.webp");
  height: 100vh;
  max-width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;     
}
.logo{
  background-image: url("../images/Seample-Black-Logo.png");
  width:90;    
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;    
}
.join-btn {
  text-align:center;   
  position: absolute;
  bottom: 10px;
  border-radius: 8px;
  left: 45%;
  padding: 10px;
  width: 120px;
  transition: all 0.2s;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}
.join-btn:hover {
  opacity:1;
}
h1{
  font-family:Lato, sans-serif;
  font-size: large;
  letter-spacing: 2px;  
}
blockquote {
  font-size:100%;
  font-family:Montserrat, sans-serif;
  font-weight:300;
  text-align: center;
  letter-spacing: none;
  line-height: 1.6;
  margin-top: 5%;
  padding: 14px 20px;
  margin: 8px 0;
  margin-bottom: 10px;
  max-width:100%;
  position: relative; /*positions the quotation marks*/  
}
blockquote::before{
  font-family:Montserrat, sans-serif;
  content: "\201C";
  color:#cbd8c6;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-80px;
}

blockquote::after{
  font-family:Montserrat, sans-serif;
  content: "\201D";
  color:#cbd8c6;
  font-size:4em;
  position: absolute;
  right: 10px;
}
/*body column*/
.column {
  flex: 50%;
  padding: 10px;
  flex-direction: column;

}
/* Clear floats after the columns */
.row {
  display: flex;
  border:2px;  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

  /*intro text*/
.align-center-title h1{
  text-align:center;
  font-size: 2.2rem;
  font-weight:800;
  margin-top: 0;
  color:rgb(203,216,198);
  background: none;  
  font-family:Shadows Into Light, cursive
}
  
  /*studio ethos 2 column section*/
.outer-bg-color-light-green{
  background-color:rgb(203,216,198);
}
.outer-bg-color-beige{
  background-color: rgb(235,236,225);
}
/* create 2 equal columns used on split section*/
.inner-col-2-split{
  width: 50%;
  float:left;  
  overflow-x: hidden;
  padding: 10px;
  flex-direction: column;
}
.left-text, .align-center-title p{
  font-size: 1.7rem; 
}
.right-text{ 
  font-size: 1.8rem;   
}
.column p{
  font-size:large;
  font-family:Montserrat, sans-serif;
  font-weight:300;
  text-align: left;
  letter-spacing: 1px;  
}

/*about us page*/
.about-us-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
  url("../images/about-us-img.webp");
  height:75vh;
  max-width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;     
}
.about-intro-img{
  background-image:url("../images/gallery-img-4.webp");
  background-size:cover;
}
.team-background-img{
  background-image:url("../images/gallery-img-2.webp");
  background-size:cover;
}
.about-mission-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
  url("../images/gallery-img-5.webp");
  height:75vh;
  max-width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
}
.overlay {
  width: 100%;  
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay p{
  color:white;
  line-height: 0.5rem;
  font-size: 1.0rem;
  padding-top: 3%;
  font-weight: 400;
  font-style: oblique;
}
hr.goals-line {
  overflow: visible; /* For IE */
  padding: 0;
  padding-top: 3%;
  border: none;
  border-top: medium double white;
  max-width: 50%;
  margin-left: 27%;
  color: #333;
  text-align: center;
}
hr.goals-line:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -1.9em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

/*prices page*/
.prices-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
  url("../images/gallery-img-5.webp");
  height:75vh;
  max-width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;     
}

.membership-list{
  list-style-type:none;
}
.txt-center{
  text-align: center;
}
.text-left {
  text-align: left; }

.membership-btn{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  max-width: 100%;
}
.membership-btn:hover {
  background-color: #555;
}

/*schedule page*/
.schedule-image{
  background-color: rgb(203,216,198);
  height:75vh;
  max-width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;     
}
.cover-img-text{
  text-align: right;
  font-size: xx-large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.inner-row:after {
  content: "";
  display:flexbox;
  clear: both;
}
.inner-row {
  float: left;
  max-width: 50%;
  max-height: 50%;
  margin:0;
  padding-bottom: 2%;
  margin: 0 -5px;
}
.week-panel h4{
font-size: 10px;
color:black;
text-align: center;
}

.inner-row-card{
  margin: 0 -5px;
}
.inner-row-card:after {
  content: "";
  display: table;
  clear: both;
}
.inner-card{
  box-shadow: 0 2rem 2rem #00000080; /* this adds the shadow effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height:100%;
  margin-bottom:-5%;
}
.inner-col-card{
    width: 29%;  /*aligns cards evenly, max-width doesn't work*/
    padding: 0 20px;
    margin:2%;
    display:inline-block;  
}

h2{
  color:#000;
  text-align:center;
  font-size:2em;
}
.schedule-content{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.week-tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 16px;
  background:#000;
  display:inline-block;
  color:#fff;
  border-radius:4px 4px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.week-panels{
  box-shadow: 0 2rem 2rem #00000080;
  min-height:350px;
  width:100%;
  max-width:1000px;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.card-display{
  display:inline;
}
.week-panel{
  display:none;
  animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.week-panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#monday:checked ~ .week-panels #monday-panel,
#tuesday:checked ~ .week-panels #tuesday-panel,
#wednesday:checked ~ .week-panels #wednesday-panel,
#thursday:checked ~ .week-panels #thursday-panel,
#friday:checked ~ .week-panels #friday-panel,
#saturday:checked ~ .week-panels #saturday-panel,
#sunday:checked ~ .week-panels #sunday-panel{
  display:block
}
/*effects when week day tab is selected*/
#monday:checked ~ .week-tabs #monday-tab,
#tuesday:checked ~ .week-tabs #tuesday-tab,
#wednesday:checked ~ .week-tabs #wednesday-tab,
#wednesady:checked ~ .week-tabs #tuesday-tab,
#thursday:checked ~ .week-tabs #thursday-tab,
#friday:checked ~ .week-tabs #friday-tab,
#saturday:checked ~ .week-tabs #saturday-tab,
#sunday:checked ~ .week-tabs #sunday-tab
{
  background:rgb(235,236,225);
  color:#000;
  border-top: 3px solid #000;
}

/*contact page*/
.contact-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
  url("../images/gallery-img-7.webp");
  height:75vh;
  max-width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;     
}

.contact-address{
  margin-left:1.9rem;
  text-align: left;
  margin-bottom: 3.0rem;
}
.contact-list i{
    font-size: 100%;   
    padding: 2%;
    color: #3a3a3a;
    text-align:center;
    display:inline-block; 
    margin-left:-1%; 
}
.contact-list li{ 
  display:inline-block;  
  padding: 1%;
}

input[type=text], input[type=email], select, textarea{
  width:100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-block {
  margin-right:1.9rem;
  height:fit-content;
  margin-bottom:4.9rem;
}

.required {
  border: none;
  cursor: default; 
}

.form-block h5 {
  margin-bottom: 3.0rem;
  margin-left: auto;
  text-align: center;
  color: #000;
}

/*maps*/

 iframe{
  padding: 0 !important;
  margin-left: 0.2%;
  margin-right:0.2%;
 }

 /* sign up page*/
 .sign-up-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
  url("../images/gallery-img-7.webp");
  height:100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;   
 }
    /*sign up*/
  * {box-sizing: border-box}
input[type=text], input[type=password] {
   width: 100%;
   font-size: 15px;
   padding: 15px;
   margin: 5px 0 22px 0;
   display: inline-block;
   border: none;
   background: #f1f1f1;
}
label{
   font-size: 12px;
}
textarea{
  background-color: white;
  height:100%;
}

input[type=text], input[type=password], input[type=email], textarea{
  background-color:white;
  font-size: 10px;
  outline: none;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
   background-color:rgb(203,216,198);
   font-size: 11px;
   outline: none;
}

button {
   font-size: 18px;
   font-weight: 400;
   background-color:rgb(203,216,198);
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   opacity: 0.9;

}
button:hover {
   opacity:1;
}
.cancel, .signup {
   padding: 4px 20px;
   width:14%;
   background-color: #ff3d2f;
   border-radius: 8px; 
   display: inline;  
}
.signup{
  background-color:rgb(203,216,198) ;
}
.formContainer {
   padding: 86px;
   margin-top: -8%;
   margin-left: 6%;
   margin-right: 6%;
   height:100vh;  
}

 /*Footer*/
 footer {
  height: 150px;
}

.footer-logo{
  margin-bottom: 0%;
  bottom: 15px;
  float:left;
  margin-left:1%;
  margin-top:3%;
}
.socials-list, .copyrights,.align-center-title p{
  text-align: center; 
  
}
.socials-list > li {
  display: inline;
  text-align: center;
}

.copyrights{
  margin-top:1%;
}
.socials-list i {
  font-size: 140%;
  margin: 1%;
  padding: 2%;
  color: #3a3a3a; 
}
.page-not-found{  
background-color:rgb(203,216,198);
height: 100vh;
width:100vw;
background-size: cover;
}
.page-not-found h1,h4{
  color:#ebece4;
  padding:2%;
  line-height:1.6;
}
.page-not-found button{
  width:fit-content;
}

/* 2 column studio ethos section */
.col-2 img{
  width:100%;
}
.col-2 {
  display:flex;
  flex-direction:row;
}
.col-2 div {
  border:none; 
  flex:1; 
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
}
.col-2 p{
  font-size:100%;
  font-family:Montserrat, sans-serif;
  font-weight:300;
  text-align: center;
  letter-spacing: none;
  line-height: 1.6;
  margin-top: 5%;
  padding: 14px 20px;
}
.col-2.reverse {
  flex-direction: row-reverse;
}

/* 3 column class categories*/
.col-3 {
  display:flex;
}
.col-3 img {
  width:100%;
}

.col-3 div {
  flex:1;
  border:1px;
  border-radius: 5%; /*add curvy edges*/
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content:flex-end;
  z-index: 10;
  padding: 20px;
  margin: 0 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */ 
}
.card-a:link, .card-a:visited {
  background-color: #ebece4;
  color:black;
  font-weight:400;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.card-a:hover, .card-a:active {
  background-color:#e6e9d5;}


  /*column 1 contact page*/
.contact-img a, h5{
  font-weight: 600;
  font-size: medium;
  color:black;
}
.col-1 .sign-up-img{
  width:100%;
  border:none; 
  flex:1; 
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
}
.col-1 .formContainer{
 flex-direction:column;
}
.col-1 .form{
  margin-top: 70%;
}


h5 {
    transition: 300ms ease-in-out;
  } 


/**media queries**/

@media only screen and (max-width: 600px) {
  .col-2, .col-2.reverse {
    flex-direction:column;
    
  }
}
@media only screen and (max-width: 600px) {
  .col-3, .col-3 div {
    flex-direction:column;
  }
}
@media only screen and (max-width: 600px) {
  iframe {   
    height: 500px;
  }
}
/***********media****************/
/* desktop: 1200px laptop: 1024px , tablet: 768px, mobile: 480px /320px */


/*tablet section*/
/*full width for all images except the logo*/
@media screen and (max-width: 768px){
  .about-us-img, .about-intro-img, .about-mission-img,
   .prices-img, .contact-img,.sign-up-img, .team-background-img, .about-us-img {
     width:100%;
   }
  }
   @media screen and (max-width: 768px) {
    .inner-col-2-split {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 768px){
    .align-center-title h1{
      font-size: large;
    }
  }
  /*center the nav bar on tablet*/
  @media (max-width: 768px){
    .nav {
      margin-left: 25%;
      margin-left:50%;
    }
    .logo img{
      margin-left:150%;
    }
    .nav ul{
      flex-direction: row;
      text-align: center;
      display: flex;
      margin-left:30%;
    
    }
  }
  /*phones*/
  @media only screen and (max-width: 320px){
    .nav ul{
      flex-direction: column;
      text-align:center;
      display: flex;
      margin-left: 25%;  
    }
    .hero-image{
      width:100%;
    }
    form .input[type=text], input[type=email], input[type=password]{
      width:100%;
      display: flex;
    }

    .logo img{
      margin-left: 30%;
    }
    .col-1{
      width:100%;
      height:100%;
    }
   .footer-logo img{
      width: 100%;
    }
    .copyrights{
      font-size:0.8rem;
    }
    .about-mission-img p{
      font-size: 0.6%;
      margin-left:7%;
      margin-right:10%;
      margin-top:3%;
    }
    .goals-line{
      margin-left:7%;
      margin-right:10%;
      margin-top:7%;

    }
  }
@media only screen and (max-width: 480px){
  .join-btn{
    text-align:center;   
    justify-content: space-between;
    margin-left: -13%;   
  }
}
@media screen and (max-width: 600px){
  .logo {
     margin-left: -13%;       
   }  
}
@media screen and (max-width: 950px) {
  .nav {
      clear: left;
      float: left;
      margin-left: 30px;
      margin-bottom: 20px;
      line-height: 25px;
  }
}